
:root {
    --background-color:pink;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: all 0.4 linear;
}